:root{
  font-size: 18px;
  --purple1: #310A90;
}

.main-container {
  /*border: 1px solid red;*/
}

.main-proyect {
   /*border: 1px solid red;*/
}

body{
  background:
  radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%),
  linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
  font-family: "Poppins", sans-serif;
  color: var(--purple1);
}

.navigation{
  height: 97px;
  position: relative;

}

.navigation h2{
  margin-block-start: 29px;
  padding-inline-start: 128px;
  font-size: 24px;
  font-weight: 900;
}

.navigation nav{
  position:absolute;
  margin: 0;
  top:0;
  right: 489.5px;
}

nav a {
  font-size: 14px;
  margin-right: 40px;
  text-decoration: none;
  font-weight: 700;
  color: #FFFF;
}

.navigation nav a:hover{
color: var(--purple1);
}

.form{
  margin-inline-end: 128px;
  position: absolute;
  right:0;
  top:0;
}

.form input{
  width: 153px;
  height: 49px;
  font-size: 0.77rem;
  font-weight: 700;
  border: 0;
  background-color: var(--purple1);
  color: #FFFF;
}

.jaume{
  width: 543px;
  height: 263px;
  margin-inline-start: 128px;
}
.jaume h3{
 font-size: 1.34rem;
 font-weight: 700;
 margin-block: 0;
}
.jaume h1{
  font-size: 3.28rem;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0.88rem;
}
.jaume p{
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 25.89px;
}

.jaume img{
  margin-right: 16px;
}

.hola{
  position: relative;
  height: 618px;
}

.figure{
  position: absolute;
  top:0;
  right: 0;
  width: 500px;
  height: 504px;
  margin-inline-end: 7.11rem;
}

.content{
  width: 900px;
  height: 278px;
  margin-inline: 233px;
  margin-block: 180px;
}
.content h3{
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 1.88rem;
  text-align: center;
  line-height: 55.01px;
  margin: 0;
}

.content p{
  font-family: 'Poppins' , sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.content img{
  display: block;
  margin:auto;
}

.leonidas{
  height: 392px;
  margin-inline-start: 7.11rem;
  position: relative;
  margin-block: 180px;
}

.esteban{
  width: 24rem ;

}

.esteban p{
  font-size: 16px;
}
.leonidas a{
font-weight: 700;
font-size: 1.88rem;
color: #FFFF;
text-decoration: none;
background-color: var(--purple1);
box-shadow: -4px 4px 0px #FFFFFF;
padding-block: 4px;
padding-inline: 8px;
margin-bottom: 0.88rem;
}

.leonidas img{
  width: 652px;
  height: 392px;
  position: absolute;
  right: 0;
  top:0;
  margin-inline-start: 30px;
  margin-inline-end: 100px;
}

.button input{
  padding-inline: 1.33rem ;
  padding-block: 0.72rem;
  margin: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-color: var(--purple1);
  border-radius: 4px;

}

.button input[value="VER PROYECTO"]{
  background-color: var(--purple1);
  color: #FFFF;
  font-size: 14px;
}

.button input[value="VER CODIGO"]{
  background-color: transparent;
  color:var(--purple1)
}

 .blockquote1 blockquote {
  margin-block: 80px;
  margin-inline: 117px;
  padding: 80px;
  border: 4px solid #FFFF;
  background-color: rgba(255, 255, 255, 0.2);;
  border-radius: 24px;
  line-height: 55px;
  font-family: 'Oxygen';
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}

.blockquote1 p{
  margin: 0;
}

.blockquote1 img{
  width: 80px;
  height: 80px;
  margin:0;
}

.blockquote1 h6{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #747DE9;
  margin-block-start: 24px;
  margin-block-end: 0;
}

.marvol{
  height: 780px;
  margin-inline-start: 7.11rem;
  position: relative;

  padding-block: 80px;
}

.marvol2{
  width: 24rem ;
  position: absolute;
  right: 0;
  margin-inline-end: 128px;
  margin-block: 10rem ;

}

.marvol2 p{
  font-size: 16px;
}
.marvol input[value="MARVOL"]{
font-weight: 700;
font-size: 1.88rem;
color: #FFFF;
text-decoration: none;
background-color: var(--purple1);
box-shadow: -4px 4px 0px #FFFFFF;
padding-block: 4px;
padding-inline: 8px;
margin-bottom: 0.88rem;
border: 0;
}

.marvol img{
  width: 638px;
  height: 628px;
  position: absolute;
  left: 0;
  top:0;
  padding-block: 80px;
}

.button input{
  padding-inline: 1.33rem ;
  padding-block: 0.72rem;
  margin: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-color: var(--purple1);
  border-radius: 4px;

}

.button input[value="VER PROYECTO"]{
  background-color: var(--purple1);
  color: #FFFF;
  font-size: 14px;
}

.button input[value="VER CODIGO"]{
  background-color: transparent;
  color:var(--purple1)
}

.blockquote2 blockquote {
  margin-block: 80px;
  margin-inline: 117px;
  padding: 80px;
  border: 4px solid #FFFF;
  background-color: rgba(255, 255, 255, 0.2);;
  border-radius: 24px;
  line-height: 55px;
  font-family: 'Oxygen';
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}

.blockquote2 p{
  margin: 0;
}

.blockquote2 img{
  width: 80px;
  height: 80px;
  margin:0;
}

.blockquote2 h6{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: var(--purple1);
  opacity: 0.5;
  margin-block-start: 24px;
  margin-block-end: 0;
}

.netnet{
  height: 392px;
  margin-inline-start: 7.11rem;
  position: relative;
  margin-block: 180px;
}

.netnet2{
  position: absolute;
  width: 449px;
  height: 205px;
  margin-block-start: 9rem;
  margin-inline-end: 0;


}

.netnet2 p{
  font-size: 16px;

}

.netnet input[value="NETNET"]{
font-weight: 700;
font-size: 1.88rem;
color: #FFFF;
text-decoration: none;
background-color: var(--purple1);
box-shadow: -4px 4px 0px #FFFFFF;
padding-block: 4px;
padding-inline: 8px;
margin-bottom: 0.88rem;
border: 0;
}

.netnet img{
  width: 302px;
  height: 536px;
  position: absolute;
  right: 0;
  top:0;
  margin-inline-start: 30px;
  margin-inline-end: 274px;
}

.button input{
  padding-inline: 1.33rem ;
  padding-block: 0.72rem;
  margin: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-color: var(--purple1);
  border-radius: 4px;

}

.button input[value="VER PROYECTO"]{
  background-color: var(--purple1);
  color: #FFFF;
  font-size: 14px;
}

.button input[value="VER CODIGO"]{
  background-color: transparent;
  color:var(--purple1)
}

.blockquote3 blockquote {
  margin-block: 160px;
  margin-inline: 117px;
  padding: 80px;
  border: 4px solid #FFFF;
  background-color: rgba(255, 255, 255, 0.2);;
  border-radius: 24px;
  line-height: 55px;
  font-family: 'Oxygen';
  font-weight: 700;
  font-size: 34px;
  text-align: center;

}

.blockquote3 p{
  margin-block-start: 0px;
}

.blockquote3 img{
  width: 80px;
  height: 80px;
  margin:0;
}

.blockquote3 h6{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: var(--purple1);
  opacity: 0.5;
  margin-block-start: 24px;
  margin-block-end: 0;
}